body {
    /* background-image: url("img/morocco-blue.png"); */
    background-color: peachpuff;

}

.title {
    font-size: 25px;
}

#questions  {
    font-size: 20px !important;
}
.questionAsked {
    color: midnightblue;
    font-size: 28px !important;
}
.main-title {
    color: midnightblue;
    
}



